:root {
    --color-primary: #02FF79;
    --color-secondary: #FFFFFF;
    --color-background: #1E1E1E;
}


body {
    background-color: var(--color-background) !important;
    margin: 0;
    /*padding-top: 70px;*/
    /* altura del header para que no se superponga el contenido */
    font-family: 'Khand', sans-serif;
}

header {
    position: sticky;
    margin: 25px 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Contenedor del logo y nombre */
.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.logo-container img {
    height: 55px;
}

.store-name {
    font-size: 2.2rem;
    font-weight: bold;
    color: var(--color-secondary);
}

/* Contenedor de iconos */
.icons {
    display: flex;
    gap: 15px;
}

.icons a {
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.icons img {
    height: 24px;
    width: 24px;
    vertical-align: middle;
}

/* Submenu usuario*/
.user-menu {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: var(--color-secondary);
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 0;
}

.dropdown-header {
    padding: 8px 16px;
    font-weight: bold;
    color: #000;
    border-bottom: 1px solid #eee;
}

.dropdown-menu a,
.dropdown-button {
    display: block;
    padding: 5px 16px;
    text-align: left;
    text-decoration: underline;
    color: #000;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: lighter;
}

.dropdown-menu a:hover,
.dropdown-button:hover {
    background-color: var(--color-primary);
    opacity: 1;
}

.user-menu:hover .dropdown-menu {
    display: block;
}

.cart-badge {
    background-color: var(--color-primary);
    color: var(--color-background);
    border-radius: 50%;
    padding: 2px 8px;
    font-size: 0.7rem;
}

.cart-sidebar {
    position: fixed;
    top: 0;
    right: -440px;
    width: 400px;
    height: 100%;
    background-color: var(--color-background);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1001;
    transition: right 0.3s ease;
}

.cart-sidebar.active {
    right: 0;
}

.cart-header h3 {
    color: var(--color-primary);
    text-align: center;
    font-size: 1.5rem;
}

.cart-items-container {
    margin-top: auto;
    border-top: 1px solid var(--color-primary);
    color: var(--color-secondary);
}

.cart-items-container img {
    width: 100px;
    height: auto;
    object-fit: cover;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    gap: 2rem;
}

.cart-item-info p {
    width: 210px;
    margin: 3px 0;
    color: var(--color-secondary);
}

.cart-footer {
    margin-top: auto;
    border-top: 1px solid var(--color-primary);
    text-align: center;
    color: var(--color-primary);
    font-size: 1.2rem;
}

.cart-total {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
}

.buy-cart-btn {
    display: block;
    padding: 5px;
    color: var(--color-background);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: var(--color-primary);
}

.remove-from-cart {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.remove-from-cart svg,
.remove-from-cart img {
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

.remove-from-cart:hover svg path,
.remove-from-cart:hover img {
    fill: #dc3545;
}


/* Inicio */

.rectangle {
    margin-left: auto;
    width: 485px;
    height: 65px;
    background: repeating-linear-gradient(45deg,
            /* Ángulo de las líneas diagonales */
            #fff,
            /* Color inicial */
            #fff 20px,
            /* Ancho de la línea */
            transparent 0px,
            transparent 65px
            /* Espaciado entre líneas */
        );
    rotate: 180deg;
}

.rectangulo {
    margin-left: 55px;
    position: relative;
    width: 220px;
    height: 45px;
    overflow: hidden;
}

/* Estilo base para los triángulos */
.triangulo {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 30px;
    /* top right bottom left */
    border-color: transparent transparent transparent var(--color-primary);
}

/* Posicionamiento individual de cada triángulo */
.t1 {
    top: 0;
    left: 0px;
}

.t2 {
    top: 0;
    left: 45px;
}

.t3 {
    top: 0;
    left: 90px;
}

.t4 {
    top: 0;
    left: 135px;
}

.t5 {
    top: 0;
    left: 180px;
}

.t6 {
    top: 0;
    left: 225px;
}

.banner {
    margin-left: 75px;
    margin-top: 40px;
    max-width: 55%;
    font-size: 5rem;
    font-weight: bold;
    color: var(--color-secondary);
    z-index: 999;
}

.uniform {
    position: absolute;
    right: 5%;
    top: 180px;
    width: 30%;
}

.footer {
    position: absolute;
    bottom: 50px;
    margin-left: 100px;
    display: flex;
    align-items: center;
}

.text-pattern {
    display: flex;
    flex-direction: column;
    color: transparent;
    font-size: 5rem;
    font-weight: 900;
    margin-left: 65px;
    opacity: 0.8;
}

.text-pattern span {
    max-height: 80px;
    -webkit-text-stroke: 0.5px var(--color-primary);
}

.social-media {
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: var(--color-secondary);
}

.social-media span {
    padding: 10px;
}

/*Formulario registro */
.form-container {
    margin: 130px auto 0 auto;
    width: 100%;
    max-width: 380px;
    color: var(--color-secondary);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Khand', sans-serif;
}

button {
    width: 100%;
    padding: 5px;
    background-color: var(--color-primary);
    color: #000000;
    border: none;
    cursor: pointer;
    font-family: 'Khand', sans-serif;
    font-size: 21px;
    font-weight: bold;
}

button:hover {
    opacity: 0.6;
}

.login-link {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: var(--color-secondary);
    font-size: 14px;
}

.login-link:hover {
    color: var(--color-primary);
    text-decoration-color: var(--color-primary);
}

.bold {
    font-weight: bold;
}

.error {
    color: red;
    font-size: 0.9em;
    display: none;
    margin-top: 5px;
}

/*Products*/

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.product-card {
    width: 300px;
    height: 400px;
    margin: 22px;
    border: 1px solid var(--color-primary);
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-card img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: top center
}

.product-info {
    width: 100%;
}

.price {
    font-size: 1.3em;
    color: var(--color-primary);
    font-weight: bold;
    margin: 5px 10px;
}

.name {
    font-size: 1.3em;
    color: var(--color-secondary);
    font-weight: bold;
    margin: 10px 10px 0 10px;
}

.product-card-link {
    text-decoration: none;
    color: inherit;
}

.section-pagination {
    display: flex;
    align-items: center;
}

.pagination-container {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 0;
    margin: 0 auto;
    text-align: none;
}

.pagination-container a {
    text-decoration: none;
}

.pagination-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: var(--color-primary);
    padding: 5px 10px;
    transition: all 0.2s ease;
}

.pagination-button:hover {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    opacity: 1;
}

.current-page {
    font-weight: bold;
    border: 1px solid var(--color-primary);
}

/*Barra de busqueda*/
.search-container {
    display: flex;
    align-items: center;
    position: relative;
}

#search-form {
    opacity: 0;
    width: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, width 0.3s ease;
    margin-left: 10px;
}

#search-form input {
    color: var(--color-secondary);
    background-color: transparent;
    border: none;
    padding: 5px;
    width: 300px;
    transition: width 0.3s ease;
    outline: none;
}

#search-form input:focus {
    border: none;
    border-bottom: 1px solid var(--color-primary);
    transition: width 0.3s ease;
}


/*Filtro*/

.filter-container {
    display: flex;
    justify-content: space-between;
    padding: 0 70px;
    color: var(--color-primary);
    font-size: 18px;
}

.filter-button {
    height: 24px;
    max-width: 90px;
    background-color: transparent;
    padding: 0;
    display: flex;
    align-items: center;
    color: var(--color-primary);
}

.filter-button img {
    margin-left: 8px;
    width: 24px;
    height: 24px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1001;
    display: none;
}

/* Menú lateral izquierdo */
.filter-sidebar {
    position: fixed;
    top: 0;
    right: -320px;
    width: 300px;
    height: 100%;
    background-color: var(--color-background);
    z-index: 1002;
    transition: right 0.3s ease;
    display: flex;
    flex-direction: column;
}

.filter-sidebar.active {
    right: 0;
}

/* Header del filtro */
.filter-header {
    padding: 12px 20px;
    display: flex;
    border-bottom: 1px solid var(--color-primary);
    justify-content: space-between;
    align-items: center;
}

.filter-header h3 {
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 22px;
    color: var(--color-primary);
}

.filter-sidebar form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.filter-sidebar label {
    font-weight: lighter;
}

.filter-sidebar input[type="number"] {
    color: var(--color-secondary);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--color-primary);
    font-size: 20px;
    font-family: 'Khand', sans-serif;
    outline: none;
}

/* Cuerpo del filtro */
.filter-body {
    padding: 0 20px;
    flex-grow: 1;
    overflow-y: auto;
    color: var(--color-secondary);
    font-size: 20px;
}

/* Footer del filtro */
.filter-footer {
    display: flex;
}

.clear-filter-btn,
.apply-filter-btn {
    flex: 1;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.clear-filter-btn {
    background-color: var(--color-background);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    transition: all 0.3s ease;
}

.clear-filter-btn:hover {
    background-color: var(--color-primary);
    color: var(--color-background);
}

.apply-filter-btn {
    background-color: var(--color-primary);
    color: var(--color-background);
    transition: all 0.3s ease;
}

.apply-filter-btn:hover {
    background-color: var(--color-background);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

/*Detalle de producto*/

.product-detail {
    display: flex;
    padding: 2rem;
    gap: 2rem;
    flex-wrap: wrap;
}

.product-image {
    flex: 1 1 50%;
    max-width: 50%;
}

.product-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product-detail-info {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem;
}

.product-title {
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-primary);
    margin: 0;
}

.product-detail-info .price {
    font-size: 2rem;
    font-weight: lighter;
    color: var(--color-secondary);
    margin: 0;
}

.product-detail-info .price {
    font-size: 1.8rem;
    color: var(--color-secondary);
    margin: 0;
}

.stock {
    color: var(--color-secondary);
    margin: 0;
}

.product-detail-info h3 {
    margin: 0;
    color: var(--color-secondary);
}

.size-selector {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.size-option {
    position: relative;
}

.size-option input[type="radio"] {
    display: none;
}

.size-label {
    padding: 0.5rem 1rem;
    color: var(--color-secondary);
    font-weight: lighter;
    border: 1px solid var(--color-secondary);
    cursor: pointer;
    transition: all 0.2s ease;
}

.size-option input[type="radio"]:checked+.size-label {
    background-color: var(--color-primary);
    color: var(--color-background);
    border-color: var(--color-secondary);
}

.quantity-controls {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.quantity-input {
    display: flex;
    align-items: center;
    border: 1px solid var(--color-primary);
    /*overflow: hidden;*/
    width: fit-content;
}

.quantity-button {
    background-color: transparent;
    color: var(--color-primary);
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1.2rem;
}

.quantity-display {
    color: var(--color-primary);
    font-weight: bold;
    padding: 0.5rem 1rem;
    min-width: 3rem;
    text-align: center;
}

.add-to-cart-btn {
    background-color: var(--color-primary);
    color: var(--color-background);
    border: none;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.add-to-cart-btn:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    transition: all 0.3s ease;
}

.description {
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 1.6;
    color: var(--color-secondary);
}

@media (max-width: 768px) {
    .product-detail {
        flex-direction: column;
    }

    .product-image,
    .product-detail-info {
        max-width: 100%;
    }
}
